.chat {
    height: 500px;
    width: 800px;
    overflow-y: scroll;
    padding: 0.5em;
    border-top: 2px solid #ffe6ae;
    border-bottom: 2px solid #ffe6ae;
    border-left: 2px solid #ffe6ae;
}

.mensajeComun {
    font-family: monospace;
    margin-bottom: 5px;
}

.mensajeBroadcast {
    font-family: monospace;
    margin-bottom: 5px;
    font-weight: bold;
    color: grey;
}

.mensajePrivado {
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 5px;
    color: darkred;
}